* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-image:url('../images/achtergrond.png');
    background-size: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#character{
    width: 150px;
    height: 150px;
    position: relative;
    top: 541px;
    left: 100px;
}

#enemy {
    position: relative;
    width: 150px;
    height: 150px;
    top: 561px;
    left: 1200px;
}
