body {

  font-family: Arial, sans-serif;
  display: flex;
  background-image: url('../images/begin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}

button {
  background-color: #36f090;
  border: none;
  padding: 15px 30px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin-top: 250px;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}

#scoreboard {
  color: white;
}


#character {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 548px;
  left: 200px;
}

#enemy {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 625px;
  left: 1000px;
}

#enemy1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 625px;
  left: 1300px;
}

#enemy2 {
  width: 100px;
  height: 100px;
  position:absolute;
  top: 200px;
  left: 1300px;
}